///VARIABLES...

// Colors:
$action-color: #ff2d55
$btn-color: white
$footer-bg: #f2f2f2
$header-color: black
$text-color: #333333

// Fonts:
$font: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif